<div class="grid p-fluid">
    <div class="col-12 lg:col-9">
        <div class="card">
            <h5>Linear Chart</h5>
            <p-chart type="line" [data]="lineData" [options]="lineOptions"></p-chart>
        </div>
    </div>
    <div class="col-12 lg:col-3">
        <div class="card">
            <h5>Información</h5>

            <!-- Etiqueta dinámica -->
            <p-tag [icon]="sensorIcon" [value]="'Sensor A: ' + sensorValue" [severity]="sensorStatus"
                class="mb-3"></p-tag>

            <p>
                Estado actual del sensor A basado en el último valor recibido.<br />
                Se actualiza automáticamente cada 5 segundos.
            </p>
        </div>
    </div>



</div>