html,body {
	height: 100%;
}

body.my-login-page {
	background-color: #f7f9fb;
	font-size: 14px;
}

.my-login-page .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
	margin: 40px auto;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
	margin: 0 auto;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
	padding: 10px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.btn-main-action {
	padding: 12px 10px;
}

.my-login-page .margin-top20 {
	margin-top: 20px;
}

.my-login-page .no-margin {
	margin: 0;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-top-80 {
	margin-top: 80px;
}

.btn-primary {
	background-color: #00187D;
	border-color: #00187D;
}

.btn-primary:hover {
	background-color: #C2D115;
	color: #FFF;
	border-color: #C2D115;
}

a {
	color: #283583;
}

a:hover {
	color: #C2D115;
}

.form-control:focus {
	border-color: #C2D115;
}

.social-provider {
	color: white;
}

.btn-saml {
    background-color: #CFD0D14D;
    border-color: rgba(0,0,0,0.2);
}

.btn-saml:hover {
	color: white;
    background-color:#CFD0D1;
    border-color:rgba(0,0,0,0.2)
}

.btn-oidc {
    background-color: #CFD0D14D;
    border-color: rgba(0,0,0,0.2);
}

.btn-oidc:hover {
	color: white;
    background-color:#CFD0D1;
    border-color:rgba(0,0,0,0.2)
}

.btn-keycloak-oidc {
    background-color: #CFD0D14D;
    border-color: rgba(0,0,0,0.2);
}

.btn-keycloak-oidc:hover {
	color: white;
    background-color:#CFD0D1;
    border-color:rgba(0,0,0,0.2)
}

#language-picker-dropdown {
	background-color: transparent;
}

.footer a {
	padding-left: 5px;
	padding-right: 5px
}

#language-picker {
	margin-top: 20px;
	margin-bottom: 40px;
}

.footer {
	color: #888;
	text-align: center;
}

.required::after {
    content: ' *';
    color: darkred;
}

img {
	width: 40%;
}

@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}
}